@font-face {
  font-family: "bitter Pro";
  src: url("../fonts/BitterPro-Black.ttf") format("embedded-opentype"),
    url("../fonts/BitterPro-Black.ttf") format("woff2"),
    url("../fonts/BitterPro-Black.ttf") format("woff"),
    url("../fonts/BitterPro-Black.ttf") format("truetype"),
    url("../fonts/BitterPro-Black.ttf") format("svg");
}
@font-face {
  font-family: "ebrima";
  src: url("../fonts/ebrima.ttf") format("embedded-opentype"),
    url("../fonts/ebrima.ttf") format("woff2"),
    url("../fonts/ebrima.ttf") format("woff"),
    url("../fonts/ebrima.ttf") format("truetype"),
    url("../fonts/ebrima.ttf") format("svg");
}
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/MyriadPro-Light.otf") format("embedded-opentype"),
    url("../fonts/MyriadPro-Light.otf") format("woff2"),
    url("../fonts/MyriadPro-Light.otf") format("woff"),
    url("../fonts/MyriadPro-Light.otf") format("truetype"),
    url("../fonts/MyriadPro-Light.otf") format("svg");
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-SemiBold.ttf") format("embedded-opentype"),
    url("../fonts/Orbitron-SemiBold.ttf") format("woff2"),
    url("../fonts/Orbitron-SemiBold.ttf") format("woff"),
    url("../fonts/Orbitron-SemiBold.ttf") format("truetype"),
    url("../fonts/Orbitron-SemiBold.ttf") format("svg");
}

:root {
  --main-color-700: rgb(1, 45, 82);
  --main-color-500: rgb(255, 204, 0);
  --main-color-100: rgb(217, 217, 214);
  --font-color-600: #012f54;
  --bar-width: 38px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: white;
  --hamburger-margin: 7rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
html {
  font-size: 80%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.more-btn {
  width: 209px;
  height: 43px;
  border-radius: 21px;
  background-color: var(--main-color-500);
  outline: none;
  border: none;
  font-size: 1.38rem;
  color: var(--main-color-700);
  font-weight: 800;
  font-style: italic;
  text-align: center;
  margin-right: 5rem;
  margin-top: 3rem;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.midori-home,
.midori-au,
.midori-sup,
.midori-product-steering,
.midori-cu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(../public/banners/img/banner/Home.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
.midori-au {
  background-image: url(../public/banners/img/banner/about-us.webp);
  background-size: cover;
}
.midori-product-steering {
  height: auto;
  background-color: white;
  background-image: none;
}
.midori-cu {
  background-image: url(../public/banners/img/banner/contact-us.webp);
  background-size: cover;
  background-position: center;
}
.midori-sup {
  background-image: none;
}
/* Header */
.midori-home .midori-header {
  width: 100%;
  display: flex;
  padding: 5rem;
  padding-bottom: 0;
}
.midori-au .midori-header,
.midori-sup .midori-header,
.midori-product-steering .midori-header,
.midori-cu .midori-header {
  width: 100%;
  display: flex;
  padding: 2.5rem 5rem;
  padding-bottom: 0;
}
.midori-au .midori-header {
  background-color: rgba(1, 46, 82, 0.5);
}
.midori-cu .midori-header {
  background-color: rgba(1, 46, 82);
  padding-block: 2rem 1rem;
}
.midori-sup .midori-header {
  background-color: rgba(1, 46, 82);
}
.midori-product-steering .midori-header {
  /* height: 1150px;
  background-image: url(../img/banner/Product-Steering-Parts.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;

  img {
    width: 100%;
    display: block;
  }
}
.midori-product-steering .midori-header .log-wrapper {
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
}
.midori-header .log-wrapper {
  width: 250px;
}
.midori-header .log-wrapper img {
  width: 100%;
}
/* Hamburger Menu */

.midori-header .hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}
.midori-au .midori-header .hamburger-menu {
  top: calc(var(--hamburger-margin) - 1.5rem);
}
.midori-header .hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.midori-header .hamburger-menu:has(input:focus-visible)::before,
.midori-header .hamburger-menu:has(input:focus-visible)::after,
.midori-header .hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.midori-header .hamburger-menu::before,
.midori-header .hamburger-menu::after,
.midori-header .hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.midori-header .hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.midori-header .hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.midori-header .hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.midori-header .hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* DropDown Menu */

.midori-header .main-dropmenu,
.midori-header .sub-menu-wrapper {
  position: absolute;
  background-color: #a3afc3dc;
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  z-index: 10;
}
.midori-header .main-dropmenu {
  top: 90px;
  right: 135px;
}
.midori-header .sub-menu-wrapper {
  top: 95px;
  right: 180px;
}
.midori-header .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0 0.5rem;
  margin: 0;

  li {
    width: 100%;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.496);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  li:last-child {
    border: none;
  }

  a {
    text-decoration: none;
    color: var(--font-color-600);
    font-size: 1.2rem;
    font-family: "Tahoma";
    text-align: center;
    white-space: nowrap;
  }

  a:hover {
    color: #00709a;
  }
}

.midori-header .menu-list .menu-item i {
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 1rem;
  margin-top: 2px;
  font-weight: 400;
}
/* Main Content */
.midori-home .midori-main {
  position: absolute;
  bottom: 30px;
  right: 30px;

  p {
    color: var(--main-color-500);
    font-family: "Orbitron";
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.midori-au .midori-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 20px;
  width: 94%;
  margin-inline: auto;
  height: fit-content;
  overflow: auto;
  padding-top: 3rem;
}
.midori-au .midori-main .p-wrapper {
  width: 100%;

  p {
    font-size: 1.5rem;
    color: #fffefe;
    font-family: "tahoma";
    text-align: left;
    line-height: 2.2rem;
    margin-block: 1rem 0;
  }
}
.midori-au .midori-main .title-wrapper {
  width: 85%;
  margin-inline: auto;
  color: #fffefe;
  grid-area: 2 / 1 / 3 / 3;
  height: fit-content;

  h1 {
    font-family: "Bitter Pro";
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    font-family: "tahoma";
    text-align: left;
    line-height: 2.5rem;
    margin: 0;
  }
}

.midori-cu .midori-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  margin-inline: auto;
  margin-top: 60px;
}
.midori-cu .midori-main .p-wrapper {
  width: 50%;
  align-self: flex-end;

  p {
    color: var(--font-color-600);
    font-size: 1.5rem;
    font-family: "tahoma";
    font-weight: 500;
    width: 80%;
    margin-top: 0;
  }
}
.midori-cu .midori-main .cu-form {
  align-self: flex-end;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.midori-cu .midori-main .cu-form input {
  width: 80%;
  height: 50px;
  background-color: #efefef;
  border: 1.5px solid #b0b0b0;
  padding-inline: 1rem;
  font-size: 1.31rem;
  letter-spacing: 0px;
  color: #b0b0b0;
  font-weight: 400;
  font-family: "Open Sans";
  margin-block: 0.5rem;
}
.midori-cu .midori-main .cu-form textarea {
  width: 80%;
  height: 130px;
  background-color: #efefef;
  border: 1.5px solid #b0b0b0;
  font-size: 1.31rem;
  letter-spacing: 0px;
  color: #b0b0b0;
  font-weight: 400;
  font-family: "Open Sans";
  padding: 1rem;
  resize: none;
  margin-block: 0.5rem;
}
.midori-cu .midori-main .cu-form .more-btn {
  background-color: var(--main-color-700);
  color: var(--main-color-500);
}

.midori-sup .midori-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-image: url(../public/banners/img/banner/support.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.midori-sup .midori-main .sup-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 95%;
  margin-inline: auto;
}
.midori-sup .midori-main .sup-item .icon-wrapper {
  width: 50px;

  img {
    width: 100%;
  }
}
.midori-sup .midori-main .sup-item .p-wrapper {
  width: 100%;
  color: #fffefe;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  p:nth-child(1) {
    font-family: "Bitter Pro";
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
  }
  p:nth-child(2) {
    font-family: "Tahoma";
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
.midori-product-steering .midori-main {
  width: 100%;
}
.midori-product-steering .midori-main .product-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin-inline: auto;

  .section-title {
    width: 100%;
    color: var(--font-color-600);
    font-weight: 800;
    font-family: "Bitter Pro";
    font-size: 4.531rem;
    text-align: center;
    padding: 0;
    margin-block: 0 2rem;
  }
}
.midori-product-steering .product-sec .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  width: 100%;
}
.midori-product-steering .product-sec .container .card-wrapper {
  padding: 0.3rem 0.5rem;
  width: 200px;
  min-width: 200px;
}
.midori-product-steering .product-sec .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    width: 100%;
    display: block;
    background-color: #00709a;
  }

  .title {
    background-color: var(--font-color-600);
    color: #cbcbcb;
    font-weight: 800;
    font-family: "Bitter Pro";
    font-size: 1.5rem;
    padding: 0.3rem 0.1rem;
    border-radius: 999px;
    text-align: center;
    width: 90%;
    min-width: 200px;
  }
}
.midori-product-steering .midori-main .adv-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  img{
    width: 350px;
    margin: 3rem auto;
  }

  .section-title {
    width: 100%;
    color: var(--font-color-600);
    font-weight: 800;
    font-family: "Bitter Pro";
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.midori-product-steering .midori-main .adv-list ul {
  list-style: none;
  width: 100%;
  margin-inline: auto;
  padding-left: 10rem;
}
.midori-product-steering .midori-main .adv-list li {
  width: 100%;
  color: #414141;
  font-family: "Tahoma";
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

}
.midori-product-steering .midori-main .adv-list li::before{
  content: "";
  width: 25px;
  height: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--font-color-600);
  margin-top: 0.3rem;
}
/* Footer */
.midori-product-steering .midori-footer {
  /* background-image: url(../img/banner/Product-Steering-Parts-بخخفثق.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; */
  width: 100%;
  overflow: hidden;
  position: relative;

  .p-wrapper {
    width: 120%;
    height: 100%;
    position: absolute;
    bottom: -80%;
    left: -100px;
    transform: rotate(7deg);
    background-color: var(--main-color-700);
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  img {
    width: 100%;
    display: block;
  }
}
.midori-product-steering .midori-footer .p-wrapper {
  p:nth-child(1) {
    font-size: 3rem;
    color: #f8d022;
    font-weight: 800;
    font-family: "Bitter Pro";
    margin: 0;
  }
  p:nth-child(2) {
    font-size: 2rem;
    color: #d1ab19;
    font-family: "Ebrima";
    margin: 0;
    margin-left: 18%;
  }
}
.midori-product-steering .midori-footer .white {
  width: 120%;
  height: 40%;
  position: absolute;
  top: -20%;
  left: -20px;
  z-index: 2;
  background-color: white;
  transform: rotate(13deg);
}
.product-name-wrapper {
  background-color: var(--font-color-600);
  color: #cbcbcb;
  font-weight: 800;
  font-family: "Bitter Pro";
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  text-align: center;
  width: fit-content;
  min-width: 200px;
  margin: 1rem auto;
  max-width: 60%;
  text-align: justify;
}
/* Utility classes */
.display-on {
  display: flex !important;
}
/* Responsive Styles.............................. */
@media (max-width: 1000px) {
  .midori-product-steering .midori-header .log-wrapper{
    top: 50px;
  }
  .midori-product-steering .midori-header .hamburger-menu{
    top: 50px;
  }
  .midori-product-steering .midori-footer {
    .p-wrapper {
      padding-left: 80px;
      bottom: -70%;
      p:nth-child(1) {
        font-size: 3rem;
      }
      p:nth-child(2) {
        font-size: 2.2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .midori-header .hamburger-menu {
    top: 15px !important;
    right: 10px;
  }
  .midori-header .main-dropmenu {
    top: 50px;
    right: 10px;
    min-width: 150px;
  }
  .midori-header .sub-menu-wrapper {
    right: 150px;
    top: 80px;
  }
  /* Home */
  .midori-home {
    background-image: url(../public/banners/mobile/home-mobile.webp);
  }
  .midori-home .midori-header {
    align-items: flex-end;
    justify-content: center;
    padding: 5rem 0 0 0;
    margin-top: 5rem;

    .log-wrapper {
      height: unset;
      width: 150px;
    }
  }
  /* about us */
  .midori-au .midori-header {
    justify-content: center;
    padding-block: 1rem 1rem;

    .log-wrapper {
      height: unset;
      width: 150px;
    }
  }

  .midori-au .midori-main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 88%;

    .title-wrapper {
      grid-area: unset;
      padding-left: 0;
      width: 90%;

      h1 {
        margin: 0;
        font-size: 2.5rem;
      }

      p {
        text-align: justify;
      }
    }
  }
  /* contact us */
  .midori-cu {
    background-position: left;

    .hamburger-menu {
      top: 20px;
    }
    .main-dropmenu {
      top: 75px;
    }
  }
  .midori-cu .midori-header {
    justify-content: center;
    padding-block: 1rem 1rem;

    .log-wrapper {
      height: unset;
      width: 150px;
    }
  }
  .midori-cu .midori-main {
    .p-wrapper {
      width: 90%;
      align-self: center;
      padding: 1rem;
      background-color: rgba(223, 223, 223, 0.679);
      border-radius: 3rem;

      p {
        text-align: justify;
      }

      span {
        display: none;
      }
    }

    .cu-form {
      width: 100%;
      align-self: center;
      align-items: center;
      padding: 1rem;
      background-color: rgba(128, 128, 128, 0.51);
      border-radius: 3rem;
      margin-top: 2rem;

      input,
      textarea {
        width: 100%;
      }

      p {
        display: block !important;
        align-self: flex-start;
        margin-block: 1rem 0;
        color: var(--font-color-600);
        font-size: 1.8rem;
        font-weight: 700;
        font-family: "tahoma";
      }

      .more-btn {
        align-self: flex-start;
        margin-block: 1rem 2rem;
        border-radius: 1rem;
        width: 180px;
      }
    }
  }
  /* support */
  .midori-sup {

    height: auto;
    .hamburger-menu {
      top: 20px;
    }
    .main-dropmenu {
      top: 75px;
    }
  }
  .midori-sup .midori-header {
    justify-content: center;
    padding-block: 1rem 1rem;

    .log-wrapper {
      height: unset;
      width: 150px;
    }
  }
  .midori-sup .midori-main {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url(../public/banners/mobile/support.webp);
    background-position: bottom;
  }
  .midori-sup .midori-main .sup-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .p-wrapper {
      align-items: center;

      p {
        text-align: justify;
      }
    }
  }
  .midori-sup .midori-main .sup-item:last-child {
    margin-bottom: 5rem;
  }

  /* product */
  .midori-product-steering .midori-header {
    justify-content: center;
    padding-block: 0rem 1rem;

    .log-wrapper {
      height: unset;
      width: 150px;
      left: 0;
      right: 0;
      margin-inline: auto;
      top: 20px;
    }

    .img-web {
      display: block;
    }
  }
  .midori-product-steering .midori-main .product-sec {
    .section-title {
      font-size: 3rem;
    }

    .container {
      align-items: center;
      justify-content: center;
      width: 90%;

      .card-wrapper {
        margin-bottom: 1rem;
      }
    }
  }
  .midori-product-steering .midori-main .adv-list {

    .section-title {
      font-size: 3rem;
    }
    ul {
      margin-inline: 0 auto;
      width: 100%;
      padding-left: 1rem;

      br {
        display: none;
      }
    }
  }
  .midori-product-steering .midori-footer {
    .p-wrapper {
      bottom: -80%;
      p:nth-child(1) {
        font-size: 2rem;
      }
      p:nth-child(2) {
        font-size: 1.4rem;
      }
    }
  }
}
@media (max-width: 700px) {
  html{
    font-size: 70%;
  }
  .midori-product-steering .midori-main .adv-list li::before{
    width: 20px;
    height: 20px;
  }
  .midori-product-steering .midori-footer {
    .p-wrapper {
      padding-left: 90px;
      bottom: -70%;
      p:nth-child(1) {
        font-size: 2rem;
      }
      p:nth-child(2) {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .midori-product-steering .midori-header .log-wrapper{
    width: 120px;
    top: 12px;
  }
  .midori-product-steering .midori-footer {
    .p-wrapper {
      width: 130%;
      padding-left: 90px;
      bottom: -70%;
      p:nth-child(1) {
        font-size: 1.7rem;
      }
      p:nth-child(2) {
        font-size: 1.3rem;
      }
    }
  }
}
@media (max-width: 360px) {
  html{
    font-size: 60%;
  }
  .midori-product-steering .midori-footer {
    .p-wrapper {
      width: 150%;
      padding-left: 95px;
      bottom: -70%;
      p:nth-child(1) {
        font-size: 0.9rem;
      }
      p:nth-child(2) {
        font-size: 0.6rem;
      }
    }
  }
  
    
}
